$blue : #0070f3;
$black : #212121;
$white : #efefef;
$blue-light : #0096f3;
$green : #4CAF50;
$orange : #F57C00;
$red : #D32F2F;
$dark-primary: #1A1A1A;
$dark-secondary: #363636;
$shadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;