@import "colors";

.form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem;
    gap: 2rem;
    background-color: $dark-secondary;
    .formGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        input, select {
            border-radius: 5px;
            border: 1px solid;
        }
        @media screen and (max-width : 500px) {
            grid-template-columns: 180px 120px;
        }
    }
    button{
        margin: 0 auto;
    }
}

.container {
    display: flex;

    @media screen and (max-width : 1000px) {
        flex-direction: column;
    }
}