@import "colors";

.result {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    background-color: $dark-secondary;

    #green {
        color: $green;
    }

    #orange {
        color: $orange;
    }

    #red {
        color: $red;
    }
}